/* Scrollable content within blue area 
This will hold the equipment card items */

/* Equipment Card */
.equipment-card {
	background-color: white;
	border-radius: 8px;
	margin-bottom: 20px;
	overflow: hidden;
}

.status-row {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 17%;
}

/* This is the Available, Checked 
Out, and Damaged badges */
.status-badge {
	padding: 8px 18px;
	border-radius: 20px;
	font-size: 14px;
	font-weight: 500;
	min-width: 110px;
	text-align: center;
}

/* Classes dependent on the equipment status for styling */
.status-available {
	background-color: #c8e6c9;
	color: #2e7d32;
}

.status-checked-out {
	background-color: #bbdefb;
	color: #1565c0;
}

.status-damaged {
	background-color: #ffcdd2;
	color: #c62828;
}

/* Status Badge for Unavailable */
.status-unavailable {
	background-color: #b3b7ba;
	color: #000000;
}

/* The "Mark Unavailable" checkbox */
.checkbox-label {
	display: flex;
	align-items: center;
	gap: 8px;
	font-size: 14px;
	cursor: pointer;
	color: #ffffff;
}

.checkbox-label input[type="checkbox"] {
	width: 18px;
	height: 18px;
	cursor: pointer;
	color: #000000;
}

.attachment-buttons {
	display: flex;
	gap: 15px;
}

/* Placeholder for file upload link */
.link-button {
	background: none;
	border: none;
	color: #1976d2;
	cursor: pointer;
	font-size: 14px;
	text-decoration: underline;
}

.action-buttons {
	display: flex;
	gap: 10px;
}

.btn-primary {
	padding: 10px 20px;
	background-color: #082e58;
	color: white;
	border: none;
	border-radius: 4px;
	font-size: 14px;
	cursor: pointer;
}

.btn-primary:hover {
	background-color: #051d36;
}

/* Spacing for text stating how many equipment are
being shown from the total pool due to filtering */
.filter-indicator {
	color: white;
	margin-bottom: 0.5em;
	font-size: 16px;
	opacity: 0.9;
}

/* Styling for the mark unavailable/available buttons */
.btn-secondary {
	padding: 10px 20px;
	background-color: #f5f5f5;
	border: 1px solid #ddd;
	border-radius: 4px;
	font-size: 14px;
	cursor: pointer;
	transition: all 0.2s;
	color: #333;
}

.btn-secondary:hover {
	background-color: #e3e3e3;
}

/* Controls for selecting all displayed equipment */
/* This is where the admin can select bulk equipment and
mark them as unavailable or available in the database */
.admin-controls {
	display: block;
	background-color: #082e58;
	padding: 0px 25px 15px;
}

.select-all {
	display: flex;
	padding-bottom: 20px;
}

.select-all label {
	font-size: 16px;
	opacity: 0.9;
}

.select-all input[type="checkbox"] {
	width: 18px;
	height: 18px;
	cursor: pointer;
	color: #000000;
}

.mark-buttons {
	display: flex;
	gap: 20px;
	flex-wrap: wrap;
	background-color: #082e58;
}

.no-results {
	color: white;
	font-size: 16px;
	opacity: 0.9;
}

.btn-danger {
	padding: 10px 20px;
	background-color: white;
	color: #d32f2f;
	border: 1px solid #d32f2f;
	border-radius: 4px;
	font-size: 14px;
	cursor: pointer;
}

.btn-danger:hover {
	background-color: #d32f2f;
	color: white;
}
