/* Styles specific to MyEquipmentCard component */

.my-equipment-card {
	background-color: white;
	border-radius: 8px;
	margin-bottom: 20px;
	overflow: hidden;
}

.my-equipment-card .attachment-buttons {
	display: flex;
	gap: 15px;
}

/* Placeholder for file upload link */
.my-equipment-card .link-button {
	background: none;
	border: none;
	color: #1976d2;
	cursor: pointer;
	font-size: 14px;
	text-decoration: underline;
}

.my-equipment-card .btn-primary {
	padding: 10px 20px;
	background-color: #082e58;
	color: white;
	border: none;
	border-radius: 4px;
	font-size: 14px;
	cursor: pointer;
	width: fit-content;
}

.my-equipment-card .btn-primary:hover {
	background-color: #051d36;
}
