/* Styles specific to the Register page */

.container {
	display: flex;
	height: 100vh;
	width: 100%;
}

.image-side {
	flex: 1;
	min-width: 0;
	display: flex;
}

.background-image {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.register-side {
	flex-basis: 35%;
	background-color: #042b59;
	color: white;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 40px;
}

.title {
	margin-bottom: 20px;
}

.form {
	display: flex;
	flex-direction: column;
	width: 80%;
}

.form label {
	margin-bottom: 5px;
}

.form input {
	padding: 10px;
	margin-bottom: 15px;
	border-radius: 5px;
	border: none;
}

.form button {
	padding: 12px;
	background-color: #a0c5ff;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	font-weight: bold;
}
